<div class="content-wrapper" id="modelContentWrapper">
  <div id="modelNameContainer">
    <h1 id="modelName" class="align-middle" [ngStyle]="nameStyle">{{ modelContent.name }}</h1>
  </div>


  <div class="details mobile-details" [innerHTML]="produceDlHtml()"></div>

  <div class="grid-wrapper">
    <ul>
      <li *ngFor="let image of modelContent.images">
        <div
          class="photo-container"
          [ngStyle]="{
            backgroundImage: urlBgImg(image.metadata.secure_url)
          }"
        ></div>
      </li>
    </ul>
  </div>

  <scroll-up class="scroll-up"></scroll-up>
</div>
<floating-menu *ngIf="showFloatingMenu" @fade>
  <div class="details" [innerHTML]="produceDlHtml()"></div>
  <div class="links">
    <div *ngIf="modelContent.instagram">
      <a [href]="'https://www.instagram.com/' + modelContent.instagram" target="_blank"><img src="/assets/img/instagram.svg"/></a>
    </div>
    <div>
      <a class="pdf-icon" [href]="generatePdfDownloadUrl()"><img src="/assets/img/pdf.svg"/></a>
    </div>
    <div>
      <a class="heart-selection" (click)="onHeartClicked()">
        <img *ngIf="!selected; else filledHeart" src="/assets/img/heart-pink.svg"/>
        <ng-template #filledHeart>
          <img src="/assets/img/heart-pink-filled.svg"/>
        </ng-template>
      </a>
    </div>
  </div>
</floating-menu>
<app-footer [noStickyFooter]="true"></app-footer>
