@import ~sass/variables
@import ~sass/mixins

.scroll-up
  margin-top: 45px

// Floating menu
.details ::ng-deep
  margin-right: auto
  dl
    +union(14px)
    +flex(flex-start, center)
    height: 100%
  dt:after
    content: ' — '
    margin-right: 3px
  dd
    margin-right: 32px

.mobile-details
  display: none

.links
  +union(14px)
  +flex(flex-end, center)
  margin-left: auto
  
  img
    height: 21px
    width: 21px
    margin-left: 31px
    transition: transform .2s
    cursor: pointer
    &:hover
      transform: scale(.9)

  div:first-child img
    margin: 0
  div:nth-child(2) img
    height: 23px
    margin-top: 2px
  div:nth-child(3) img
    height: 19.5px


+mqmax($tablet)
  .details ::ng-deep dd
    margin-right: 22px

+mqmax($tablet-portrait)
  .details
    display: none

  .mobile-details 
    display: block
    transform: translateY(-79px)
    ::ng-deep dl
      +union-bold(11px)
      justify-content: center
      flex-wrap: wrap
      line-height: 1.91

  .links
    margin: 0
    flex: 1 1 100%
    justify-content: center


+mqmax($mobile)
  .mobile-details 
    transform: translateY(-30px)

