@import ~sass/variables
@import ~sass/mixins

footer
  background: $black
  color: $bg
  +full-width()
  height: 300px
  transition: height 0.5s ease-in-out, padding-top 0.5s ease-in-out
  #stickyFooter
    transition: margin-bottom 0.5s ease-in-out
    a
      transition: font-size 0.5s ease-in-out, transform 0.25s ease-in-out
  &.collapsed
    height: 63px
    overflow: hidden
    .wrapper
      padding-top: 12px
    #stickyFooter
      margin-bottom: 12px
      padding: 0 5px
      transform: translateX(10px)
      a
        font-size: 30px
        width: 33.333%
        text-align: center
  p
    color: $bg

.wrapper
  max-width: $web-container
  margin: 0 auto
  padding: 35px 57px 55px
  +mqmax($tablet)
    padding: 44px 42px 52px
  +mqmax($mobile)
    padding: 52px 30px
.top
  +flex(space-between, center)
  font-family: $druk-italic
  font-size: 45px
  margin-bottom: 37px

.bottom
  +flex(space-between, flex-start)
  font-family: $druk
  font-size: 11.5px
  line-height: 1.91
  letter-spacing: -0.3px
  p
    padding-top: 13px
    border-top: dotted 2.5px $bg

.contact
  flex: 0 0 33.333%
  p
    margin-right: 1.3vw
.about-us
  flex: 0 0 66.666%
  p
    margin-left: 29px

.legal-menu
  width: 100%
  +flex(center, center)
  ul
    +flex(space-between, center)
    transform: translateY(-12px)
  li
    flex: 0 0 auto
    +druk(8px)
    color: $bg
    text-transform: uppercase
    list-style: none
    cursor: pointer
  li:nth-child(1),
  li:nth-child(2)
    &:after
      content: '·'
      margin: 0 8px


+mqmax(1480px)
  .about-us p
    margin-left: calc(2.7vw - 10px)

+mqmax(1340px)
  .top
    font-size: 34px
  .bottom
    font-size: 10px
  .about-us p
    margin-left: calc(16vw - 146px)

+mqmax($tablet-portrait)
  footer
    height: auto
  .top
    +flex(space-around, center)
    flex-direction: column
    font-size: 24px
    margin-bottom: 5px
    a
      margin-bottom: 31px

  .bottom
    +flex(space-around, center)
    flex-direction: column
    p
      border: none
      padding: 0
      margin: 0
      text-align: center
    
  .contact p
    margin-bottom: 21px

#spaceHolder
  height: 300px

// Animations
#stickyFooter
  .links:hover
      transform: translateY(-5px) !important


.close-modal
  position: absolute
  +druk(30px)
  top: 30px
  right: 40px
  cursor: pointer
  +mqmax($mobile)
    top: 10px
    right: 25px

