<div class="content-wrapper">
  <ul *ngIf="showLetters; else largeLetter" class="letters">
    <li><a (click)="onNextLetter()">></a></li>
    <li><a (click)="onNextLetter()">></a></li>
    <li *ngFor="let letter of letters" class="real-letter" (click)="onLetterSelected(letter)">
      {{ letter }}
    </li>
    <li><a (click)="onPreviousLetter()">
        <</a> </li> <li><a (click)="onPreviousLetter()">
            <</a> </li> </ul> <ng-template #largeLetter>
              <div class="row hammer-wrapper" (swipeleft)="onSwipeLeft()" (swiperight)="onSwipeRight()">
                <div [ngClass]="arrowsColClass">
                  <a (click)="onPreviousLetter()"><img class="triangle-icon left-triangle"
                      src="/assets/img/right-triangle.svg" /></a>
                </div>
                <div [ngClass]="bigLetterColClass">
                  <h1 id="selectedLetter">{{ currentLetter.toUpperCase() }}</h1>
                </div>
                <div [ngClass]="arrowsColClass">
                  <a (click)="onNextLetter()"><img class="triangle-icon right-triangle"
                      src="/assets/img/right-triangle.svg" /></a>
                </div>
              </div>
              </ng-template>
              <div class="grid-wrapper grid-wrapper-four">
                <ul>
                  <li *ngFor="let model of newModelsArray;" [ngClass]="{'is-letter': !model.title}" @fade>
                    <model-box *ngIf="model.title" [model]="model" class="selected-models"></model-box>
                    <span class="model-letter" id="model-letter-{{model}}" *ngIf="!model.title">{{ model }} _</span>
                  </li>
                </ul>
              </div>
              <scroll-up class="scroll-up"></scroll-up>
</div>
<app-footer [noStickyFooter]="true"></app-footer>