*:focus
  outline: 1px solid transparent

body
  background-color: $bg
  overflow-x: hidden
  &.scroll-disabled
    overflow: hidden

a, a:hover
  text-transform: none
  color: inherit
  text-decoration: none

ul, dl, dt, dd
  padding: 0
  margin: 0

h1, h2, h3, h4, h5, h6, p
  margin: 0
  color: $black

li
  color: $black

.web-container
  max-width: $web-container
  margin: 0 auto
  padding: 0 52px
  +mqmax($tablet)
    padding: 0 40px
  +mqmax($tablet-portrait)
    padding: 0 32px
  +mqmax($mobile)
    padding: 0 16px

.navbar-mobile-fixed
  position: fixed
  width: 100%
  .logo
    transform: translateX(-32px)

h1
  +druk-italic(140px)
  text-align: center
  min-height: 179px
  margin: 0 0 79px

+mqmax($tablet)
  h1
    font-size: 115px
    min-height: 147px

+mqmax($tablet-portrait)
  h1
    font-size: 90px
    min-height: 116px

+mqmax($mobile)
  h1
    margin-bottom: 50px
    font-size: 75px
    line-height: 0.87

// Search select
app-model-select .ng-select-container
  border-radius: 14px!important
  min-height: 28px!important
  height: 28px!important
  border: 0!important
  background: #f0cac8!important
  box-shadow: inset 1px 1px 3px 0px rgba(68,68,68,.7)!important

.ng-input
  left: 20px!important

.ng-arrow-wrapper
  display: none


// Legal Modal
.legal-modal 
  scrollbar-width: none
  
  *
    color: $bg!important

  &::-webkit-scrollbar
    display: none

  h2, h3, h4, p
    margin: 35px 0 25px

  h4
    padding-left: 20px

  ul
    padding-left: 30px

  li
    margin: 12px 0

  +mqmax($mobile)
    p, ul, li
      font-size: 10px
    small
      font-size: 8px
      line-height: 1em
    h2
      font-size: 20px
    h3
      font-size: 18px
    h4
      font-size: 16px
      padding-left: 0