@font-face 
  font-family: 'druk'
  src: url('/assets/fonts/DrukWideMedium.woff') format('woff'), url('/assets/fonts/DrukWideMedium.ttf') format('truetype')

@font-face 
  font-family: 'druk-italic'
  src: url('/assets/fonts/DrukWideSuperItalic.woff') format('woff'), url('/assets/fonts/DrukWideSuperItalic.ttf') format('truetype')

@font-face
  font-family: 'druk-super'
  src: url('/assets/fonts/DrukWideSuper.woff') format('woff'), url('/assets/fonts/DrukWideSuper.ttf') format('truetype')

@font-face 
  font-family: 'union'
  src: url('/assets/fonts/UnionRegular.woff') format('woff'), url('/assets/fonts/UnionRegular.ttf') format('truetype')

@font-face 
  font-family: 'union-bold'
  src: url('/assets/fonts/UnionBold.woff') format('woff'), url('/assets/fonts/UnionBold.ttf') format('truetype')