.selected-models
  li
    text-align: center
  .meta-model
    +flex(space-between, center)
    margin-top: 9px!important
  .origin
    display: none
  .heart-img
    float: right
  .heart-overlay
    float: right
    margin-right: -13px
  .name, .selection-button
    display: inline-block
  .name
    font-family: $druk!important
    font-size: 21px!important
    font-weight: 500
    +mqmax($mobile)
      font-size: 18px !important
  .selection-button
    margin-left: auto
    width: auto
    margin-right: 4px

+mqmax($tablet-portrait)
  .selected-models
    display: flex
    flex-direction: column-reverse
  .meta-model
    transform: translateY(-10px)
    margin-top: 32px !important

.send-selection input
  height: 55px

#sendSelectionBtn
  padding-top: 12px !important
  padding-bottom: 12px !important
  margin-top: 0 !important
  border: 2px solid $black !important
  +mqmax($tablet)
    width: 252px !important
