<div class="content-wrapper">
  <h1>In Town</h1>
  <div class="grid-wrapper">
    <ul>
      <li *ngFor="let model of modelsInTown">
        <model-box [model]="model"></model-box>
      </li>
    </ul>
  </div>

  <scroll-up class="scroll-up"></scroll-up>
</div>
<app-footer></app-footer>
